<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>This is a home page</h1>
     
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Architecto quam assumenda doloremque commodi optio qui id
      ratione error eum similique blanditiis, corrupti autem provident 
      totam numquam suscipit minus ab quasi.
    </p>
    <button>Click me!</button>
</body>
</html>